* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

ul {
  /* list-style: none; */
}

a {
  text-decoration: none;
  color: inherit;
}

.p2 input {
  padding: 10px 20px;
  width: 300px;
}
